[Unit]
Description=Backend Service for Face Recognition
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ec2-user/backend.py
Restart=always
User=ec2-user
WorkingDirectory=/home/ec2-user

[Install]
WantedBy=multi-user.target